*.dcu
*.bak
/AppTestVCL.exe
*.tvsconfig
*.dproj.local
*.identcache
*.~*~
*.ppu
*.stat
*.o
/bin/bs_test_laz.exe
*.dbg
*.compiled
*/backup
/bin/HelloWorld.exe
/bin/Fonts/TTFTemplate.bt
/bin/ResEditor.exe
/bin/ResEditor.xml
/bin/StyleEditor.exe
/bin/StyleEditorLaz.exe
/bin/data/res.bsp
/tests/lazarus/Hello world/backup/umain.lfm
/tests/lazarus/Hello world/backup/umain.pas
/tests/lazarus/Hello world/lib/i386-win32/umain.lfm
/tests/lazarus/Hello world/lib/x86_64-linux/umain.lfm
/tests/lazarus/backup/umain.lfm
/tests/lazarus/lib/i386-win32/umain.lfm
/tests/lazarus/lib/x86_64-linux/umain.lfm
/tools/StyleEditor/*
/tools/font/lib/i386-win32/umain.lfm
/tools/font/umain.lfm
/tools/font/umain.pas
/tools/reseditor/*
/bin/FontConstructor.exe
/bin/MainTest.exe
/tests/delphi/DUnit/Win32/Debug/DUnitTests.exe
/tests/delphi/DUnit/Win32/Debug/dunitx-results.xml
/tests/lazarus/Hello world/lib/i386-win32/HelloWorld.or
/tests/lazarus/Hello world/lib/i386-win32/HelloWorld.res
/tests/lazarus/Hello world/lib/x86_64-linux/HelloWorld.or
/tests/lazarus/Hello world/lib/x86_64-linux/HelloWorld.res
/tests/lazarus/backup/MainTest.lpi
/tests/lazarus/backup/MainTest.lps
/tests/lazarus/backup/bs_test_laz.pas
/tests/lazarus/lib/i386-win32/bs_test_laz.or
/tests/lazarus/lib/i386-win32/bs_test_laz.res
/tests/lazarus/lib/x86_64-linux/bs_test_laz.or
/tests/lazarus/lib/x86_64-linux/bs_test_laz.res
/tools/font/FontConstructor.ico
/tools/font/FontConstructor.lpi
/tools/font/FontConstructor.lpr
/tools/font/FontConstructor.lps
/tools/font/FontConstructor.res
/tools/font/img/Contour.png
/tools/font/img/GenFont.png
/tools/font/img/font.png
/tools/font/lib/i386-win32/FontConstructor.or
/tools/font/lib/i386-win32/FontConstructor.res
/tools/reseditor/images/Rect.png
/tools/reseditor/images/toolbar_folder_add.ico
/tools/reseditor/images/toolbar_folder_add.png
/bin/AppTestVCL.exe
*.~dsk
*.dsk
/bin/SchemeEditor.exe
/core/bs.templates.pas
/common/bs.socket.pas
/core/bs.light.pas
/core/bs.resource.editor.pas
/core/bs.resource.pas
/core/bs.resource.visualizer.pas
/gui/bs.colormap.pas
/gui/bs.gui.dialogs.pas
/gui/bs.objectinspector.pas
/tests/lazarus/Hello world/backup/
/tools/reseditor/images/fill_back.bmp
/tools/reseditor/images/fill_back.PNG
/tools/StyleEditor/uMain.pas
/bin/BlackSharkLog.txt
/bin/TestFM.exe
/bin/LazTests
/bin/LazTests.exe
/bin/AutoTests.exe
/bin/BSApplication.exe
/bin/AppTestVCL.rsm
/bin/BSApplication
/tests/delphi/FireMonkey/Linux64/Debug/TestFM
/tests/lazarus/backup/
/bin/BSApplication.rsm
/tests/lazarus/BSApplication/backup/
/tests/lazarus/BSApplication/lib/
/tests/lazarus/lib/
/bin/*.properties
/tests/lazarus/Android/HelloBlackShark/.gradle
/tests/lazarus/Android/HelloBlackShark/.idea
/tests/lazarus/Android/HelloBlackShark/build
/bin/BSAppAndroid/classes/classes.dex
/bin/BSAppAndroid/debug
/tests/lazarus/Android/HelloBlackShark/assets/
/**/backup/*
/**/*.local
/tests/lazarus/Android/HelloBlackShark/libs/
/tests/lazarus/Android/HelloBlackShark/trash/
*.keystore
/tests/lazarus/Ultibo/BSApplication/3BPlus/
*.local
/tests/lazarus/Ultibo/BSApplication/**.elf
/tests/lazarus/Ultibo/BSApplication/**.img
/tests/lazarus/Ultibo/BSApplication/**.qimg
/.idea
*.res
*.local
